body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

#logo {
  width: 10px !important; }

/* Css navigation bar */
nav a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px; }

nav ul {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #433171;
  width: 100%;
  height: 30px;
  padding: 10px;
  margin: 0px; }

nav ul li {
  list-style: none; }

/* Css footer bar */
footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  /* Height of the footer */ }

/* css Homescreen */
.datum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 0.5px solid grey;
  padding: 10px;
  margin-top: 10px; }

.titel-concert {
  padding: 0px;
  margin: 0px;
  font-size: 18px; }

.datum-concert {
  margin: 0px;
  font-size: 13px; }

.home-blokjes ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.home-blokjes ul li {
  list-style: none; }

/* Css form (login/sign-up) */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto; }
  form input {
    margin: 10px; }
  form button {
    width: 70px;
    margin-left: auto;
    margin-right: auto; }
  form a {
    width: 70px;
    margin-left: auto;
    margin-right: auto; }

.form-wrapper {
  width: 100%;
  margin-left: auto;
  background-color: aliceblue; }

.form-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4uc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFHQTtFQUNDLGFBQVk7RUFDWixZQUFXO0VBQ1gsWUFBVztFQUNYLHlEQUF3RCxFQUN4RDs7QUFFRDtFQUNDLHVCQUFzQixFQUN0Qjs7QUFFRCx3QkFBd0I7QUFDeEI7RUFFRSxhQUFZO0VBQ1osc0JBQXFCO0VBQ3JCLGlCQUFnQjtFQUVoQixrQkFBaUIsRUFDakI7O0FBUEY7RUFVRSxtQkFBa0I7RUFDbEIsVUFBUztFQUNULFFBQU87RUFDUCxxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLCtCQUFtQjtFQUFuQiw4QkFBbUI7RUFBbkIsd0JBQW1CO0VBQW5CLG9CQUFtQjtFQUNuQiwwQkFBOEI7RUFBOUIsdUJBQThCO0VBQTlCLCtCQUE4QjtFQUM5QiwwQkFBa0M7RUFDbEMsWUFBVztFQUNYLGFBQVk7RUFDWixjQUFhO0VBQ2IsWUFBVyxFQUNYOztBQXJCRjtFQXdCRSxpQkFBZ0IsRUFDaEI7O0FBR0Ysb0JBQW9CO0FBQ3BCO0VBQ0MsbUJBQWtCO0VBQ2xCLFVBQVM7RUFDVCxhQUFZO0VBQ1osMEJBQTBCLEVBQzFCOztBQUVELG9CQUFvQjtBQUNwQjtFQUNDLHFCQUFhO0VBQWIscUJBQWE7RUFBYixjQUFhO0VBQ2IsMEJBQTZCO0VBQTdCLDhCQUE2QjtFQUM3QixnQ0FBK0I7RUFDL0IsY0FBYTtFQUNiLGlCQUFnQixFQUNoQjs7QUFFRDtFQUNDLGFBQVk7RUFDWixZQUFXO0VBQ1gsZ0JBQWUsRUFDZjs7QUFFRDtFQUNDLFlBQVc7RUFDWCxnQkFBZSxFQUNmOztBQUVEO0VBRUUsaUJBQWdCO0VBQ2hCLHFCQUFhO0VBQWIscUJBQWE7RUFBYixjQUFhO0VBQ2IsMEJBQTZCO0VBQTdCLDhCQUE2QixFQUM3Qjs7QUFMRjtFQVFFLGlCQUFnQixFQUNoQjs7QUFHRiw4QkFBOEI7QUFDOUI7RUFDQyxxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLDZCQUFzQjtFQUF0Qiw4QkFBc0I7RUFBdEIsMkJBQXNCO0VBQXRCLHVCQUFzQjtFQUN0Qix5QkFBdUI7RUFBdkIsc0JBQXVCO0VBQXZCLHdCQUF1QixFQTBCdkI7RUE3QkQ7SUFNRSxxQkFBYTtJQUFiLHFCQUFhO0lBQWIsY0FBYTtJQUNiLDZCQUFzQjtJQUF0Qiw4QkFBc0I7SUFBdEIsMkJBQXNCO0lBQXRCLHVCQUFzQjtJQUN0Qix5QkFBdUI7SUFBdkIsc0JBQXVCO0lBQXZCLHdCQUF1QjtJQUN2QixXQUFVO0lBQ1Ysa0JBQWlCO0lBQ2pCLG1CQUFrQixFQUNsQjtFQVpGO0lBZUUsYUFBWSxFQUNaO0VBaEJGO0lBbUJFLFlBQVc7SUFDWCxrQkFBaUI7SUFDakIsbUJBQWtCLEVBQ2xCO0VBdEJGO0lBeUJFLFlBQVc7SUFDWCxrQkFBaUI7SUFDakIsbUJBQWtCLEVBQ2xCOztBQUdGO0VBQ0MsWUFBVztFQUNYLGtCQUFpQjtFQUNqQiw0QkFBMkIsRUFDM0I7O0FBRUQ7RUFDQyxxQkFBYTtFQUFiLHFCQUFhO0VBQWIsY0FBYTtFQUNiLCtCQUFtQjtFQUFuQiw4QkFBbUI7RUFBbkIsd0JBQW1CO0VBQW5CLG9CQUFtQjtFQUNuQiwwQkFBOEI7RUFBOUIsdUJBQThCO0VBQTlCLCtCQUE4QixFQUM5QiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCIvVXNlcnMvYXJvbi9vZmZsaW5lL1NvbGkvc29saXBsYW5uaW5nRW5kdXJvL2Fzc2V0cy9jc3MvdmFyaWFibGVzL2NvbG9ycy5zY3NzXCI7XG5cblxuYm9keSB7XG5cdHBhZGRpbmc6IDBweDtcblx0bWFyZ2luOiAwcHg7XG5cdGJvcmRlcjogMHB4O1xuXHRmb250OiAxNHB4IFwiTHVjaWRhIEdyYW5kZVwiLCBIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmO1xufVxuXG4jbG9nbyB7XG5cdHdpZHRoOiAxMHB4ICFpbXBvcnRhbnQ7XG59XG5cbi8qIENzcyBuYXZpZ2F0aW9uIGJhciAqL1xubmF2IHtcblx0YSB7XG5cdFx0Y29sb3I6IGJsYWNrO1xuXHRcdHRleHQtZGVjb3JhdGlvbjogbm9uZTtcblx0XHRtYXJnaW4tbGVmdDogNXB4O1xuXHRcdDtcblx0XHRtYXJnaW4tcmlnaHQ6IDVweDtcblx0fVxuXG5cdHVsIHtcblx0XHRwb3NpdGlvbjogYWJzb2x1dGU7XG5cdFx0Ym90dG9tOiAwO1xuXHRcdGxlZnQ6IDA7XG5cdFx0ZGlzcGxheTogZmxleDtcblx0XHRmbGV4LWRpcmVjdGlvbjogcm93O1xuXHRcdGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2Vlbjtcblx0XHRiYWNrZ3JvdW5kLWNvbG9yOiByZ2IoNjcsIDQ5LCAxMTMpO1xuXHRcdHdpZHRoOiAxMDAlO1xuXHRcdGhlaWdodDogMzBweDtcblx0XHRwYWRkaW5nOiAxMHB4O1xuXHRcdG1hcmdpbjogMHB4O1xuXHR9XG5cblx0dWwgbGkge1xuXHRcdGxpc3Qtc3R5bGU6IG5vbmU7XG5cdH1cbn1cblxuLyogQ3NzIGZvb3RlciBiYXIgKi9cbmZvb3RlciB7XG5cdHBvc2l0aW9uOiBhYnNvbHV0ZTtcblx0Ym90dG9tOiAwO1xuXHRoZWlnaHQ6IDYwcHg7XG5cdC8qIEhlaWdodCBvZiB0aGUgZm9vdGVyICovXG59XG5cbi8qIGNzcyBIb21lc2NyZWVuICovXG4uZGF0dW0td3JhcHBlciB7XG5cdGRpc3BsYXk6IGZsZXg7XG5cdGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xuXHRib3JkZXItYm90dG9tOiAwLjVweCBzb2xpZCBncmV5O1xuXHRwYWRkaW5nOiAxMHB4O1xuXHRtYXJnaW4tdG9wOiAxMHB4O1xufVxuXG4udGl0ZWwtY29uY2VydCB7XG5cdHBhZGRpbmc6IDBweDtcblx0bWFyZ2luOiAwcHg7XG5cdGZvbnQtc2l6ZTogMThweDtcbn1cblxuLmRhdHVtLWNvbmNlcnQge1xuXHRtYXJnaW46IDBweDtcblx0Zm9udC1zaXplOiAxM3B4O1xufVxuXG4uaG9tZS1ibG9ramVzIHtcblx0dWwge1xuXHRcdGxpc3Qtc3R5bGU6IG5vbmU7XG5cdFx0ZGlzcGxheTogZmxleDtcblx0XHRqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcblx0fVxuXG5cdHVsIGxpIHtcblx0XHRsaXN0LXN0eWxlOiBub25lO1xuXHR9XG59XG5cbi8qIENzcyBmb3JtIChsb2dpbi9zaWduLXVwKSAqL1xuZm9ybSB7XG5cdGRpc3BsYXk6IGZsZXg7XG5cdGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG5cdGp1c3RpZnktY29udGVudDogY2VudGVyO1xuXG5cdGxhYmVsIHtcblx0XHRkaXNwbGF5OiBmbGV4O1xuXHRcdGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG5cdFx0anVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG5cdFx0d2lkdGg6IDI1JTtcblx0XHRtYXJnaW4tbGVmdDogYXV0bztcblx0XHRtYXJnaW4tcmlnaHQ6IGF1dG87XG5cdH1cblxuXHRpbnB1dCB7XG5cdFx0bWFyZ2luOiAxMHB4O1xuXHR9XG5cblx0YnV0dG9uIHtcblx0XHR3aWR0aDogNzBweDtcblx0XHRtYXJnaW4tbGVmdDogYXV0bztcblx0XHRtYXJnaW4tcmlnaHQ6IGF1dG87XG5cdH1cblxuXHRhIHtcblx0XHR3aWR0aDogNzBweDtcblx0XHRtYXJnaW4tbGVmdDogYXV0bztcblx0XHRtYXJnaW4tcmlnaHQ6IGF1dG87XG5cdH1cbn1cblxuLmZvcm0td3JhcHBlciB7XG5cdHdpZHRoOiAxMDAlO1xuXHRtYXJnaW4tbGVmdDogYXV0bztcblx0YmFja2dyb3VuZC1jb2xvcjogYWxpY2VibHVlO1xufVxuXG4uZm9ybS1ob21lIHtcblx0ZGlzcGxheTogZmxleDtcblx0ZmxleC1kaXJlY3Rpb246IHJvdztcblx0anVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xufSJdfQ== */
