<form class="form-home">
    <button>Concert</button>
    <button>Repetitie</button>
  </form>
  <div class="datum-wrapper">
    <div>
      <h2 class="titel-concert">{{ concertName }}</h2>
      <p class="datum-concert">{{ concertDate }}</p>
    </div>
    <div class="home-blokjes">
      <ul>
        <li><label><input type="checkbox"></label></li>
        <li><label><input type="checkbox"></label></li>
        <li><label><input type="checkbox"></label></li>
      </ul>
    </div>
  </div>