<!-- views/partials/head.ejs -->
<head>
    <title>{{titelWebsite}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{{siteDescription}}">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>