<a class="header clearfix">
    <nav class="mobile-nav">
        <ul>
            <li><a href="/"><img src="{{ logo }}" alt="Home"></a></li>
            <li><a href="/login"><img src="images/profile_1x.png" alt="Login"></a></li>
            <li><a href="/"><img src="images/cal_1x.png" alt="Data"></a></li>
            <li><a href="/"><img src="images/list_1x.png" alt="Overzicht"></a></li>
            <li><a href="/"><img src="images/info_1x.png" alt="About"></a></li>
        </ul>
    </nav>
</a>