@import 'variables/*';

body {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#logo {
	width: 10px !important;
}

/* Css navigation bar */
nav {
	a {
		color: black;
		text-decoration: none;
		margin-left: 5px;
		;
		margin-right: 5px;
	}

	ul {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: rgb(67, 49, 113);
		width: 100%;
		height: 30px;
		padding: 10px;
		margin: 0px;
	}

	ul li {
		list-style: none;
	}
}

/* Css footer bar */
footer {
	position: absolute;
	bottom: 0;
	height: 60px;
	/* Height of the footer */
}

/* css Homescreen */
.datum-wrapper {
	display: flex;
	justify-content: space-around;
	border-bottom: 0.5px solid grey;
	padding: 10px;
	margin-top: 10px;
}

.titel-concert {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
}

.datum-concert {
	margin: 0px;
	font-size: 13px;
}

.home-blokjes {
	ul {
		list-style: none;
		display: flex;
		justify-content: space-around;
	}

	ul li {
		list-style: none;
	}
}

/* Css form (login/sign-up) */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;

	label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 25%;
		margin-left: auto;
		margin-right: auto;
	}

	input {
		margin: 10px;
	}

	button {
		width: 70px;
		margin-left: auto;
		margin-right: auto;
	}

	a {
		width: 70px;
		margin-left: auto;
		margin-right: auto;
	}
}

.form-wrapper {
	width: 100%;
	margin-left: auto;
	background-color: aliceblue;
}

.form-home {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}