<!DOCTYPE html>
<html lang="nl">


{{>head}}

<body>
  {{>mobile-top}}
  {{>navbar}}

  {{>concerts}}

  <div class="datum-wrapper">
      <div>
        <h2 class="titel-concert">Titel concert</h2>
        <p class="datum-concert">Datum concert</p>
      </div>
      <div class="home-blokjes">
        <ul>
          <li><label><input type="checkbox"></label></li>
          <li><label><input type="checkbox"></label></li>
          <li><label><input type="checkbox"></label></li>
        </ul>
      </div>
    </div>  

</body>

</html>